<div class="share-your-thinking-area">
    <div class="container">
        
        <div class="row section-space--pb_60">
            <div class="col-12">
                <div class="share-thinking-title">
                    <h2 class="title text-center">Edit Article</h2>
                </div>
            </div>
        </div>


          <%= render 'form' %>


    </div>
</div>